
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 3px;
  line-height: 1.15;
  font-size: 18px;
  font-weight: 700;

  width: 213px;
  height: 60px;
  border-color: transparent;
  background-color: transparent;
  border-bottom: 2.2px solid #FFFFFF;
  text-align: start;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.form {
  box-sizing: border-box;
  background-color: #FFB114;
  position: absolute;
  width: 1156px;
  height: 476px;
  left: 166px;
  top: 185px;

  padding: 70px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.form input, .select{
  margin: 20px;
  width: 366px;
  border-color: #FFFFFF;
  background-color: #FFB114;
  border:none;
  border-bottom:2.2px solid #FFFFFF;
  
  font-style: normal;
  font-weight: 400;
  color: #333333;
  font-size: 18px;
  padding: 20px 0;
  letter-spacing: 1px;
}


.btns {
  display: flex;
  flex-direction: column;
}

.btn {
  font-weight: 700;
  background-color: #333333;
  color: #FFB114;
  height: 49px;
  width: 142px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 1s ease; 
}

.btn:hover {
  background-color: rgb(116, 116, 116);
}

.line {
  position: absolute;
  width: 213px;
  height: 0px;
  left: 70px;
  top: 110px;

  border: 2.2px solid #FFFFFF;
}

.lineIndex {
  width: 213px;
  height: 0px;
  border: 2.2px solid #FFFFFF;
}

.list {
  margin: -15px;
  
}

.btnTask {
  width: 519px;
  height: 60px;

  border-color: transparent;
  background-color: transparent;
  border-bottom: 2.2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease;
  font-size: 18px;
  /* text-align: start; */
}

.btnTask:hover {
  box-shadow: 1px 1px 0 3px rgba(252, 251, 251, 0.5);
  border-bottom: none;
}

.xBtn {
  font-size: 12px;
  background-color: transparent;
  border: transparent;
  text-align: right;
  cursor: pointer;
  transition: all .5s ease;
}

.xBtn:hover {
  font-weight: 600;
}